<div id="hello" class="container medium" style="border:1px solid #000; padding:20px; margin-bottom:40px;">
    <div class="row">
        <div class="col-6">
            <img src="{{asset 'images/home-hero.jpg'}}" />
        </div>
        <div class="col-6">
            <h1>Hello, I'm Jim Applegate</h1>
            <p style="">I help individuals and organizations improve themselves and the world by helping them cultivate their creative practice.</p>
            <hr>
            <p>I believe that making a difference is about being intentional about the work you do as a cultural activist engaged in your creative practice, and how you communicate that work to others.</p>
            <p>Subscribe below to get my weekly newsletter, Jim's Notebook, and read articles on building an effective and meaningful creative practice, strengthening your personal universe, and using open artifacts to give your ideas a life of their own.</p>
            <p>Hire me for one-on-one coaching or hire me to examine how open artifacts can expand the reach and effectiveness of your nonprofit.</p>

<form class="subscription-form" data-members-form="signup">
  <input data-members-name type="text" placeholder="Please introduce yourself" required/>
  <input data-members-email type="email" placeholder="How can we reach you?" required/>
  <button class="btn" type="submit">Subscribe</button>
  <div class="success-message">Great! Check your inbox and click the link.</div>
  <div class="error-message">Sorry, something went wrong. Please try again.</div>
</form>

        </div>
    </div>
</div>
