<div class="container medium" style="border:1px solid #000; padding:20px;">
    <div class="row">
        <div class="col-6">
            <img src="{{asset 'images/home-hero.jpg'}}" />
        </div>
        <div class="col-6">
            <h2>Hi, I'm Jim Applegate</h2>
            <p>I help individuals and organizations make a positive difference in the world by helping them cultivate their creative practice.</p>
            <hr>
            <p>I believe that making a difference is about being intentional about the work you do as a cultural activist engaged in your creative practice, and how you communicate that work to others.</p>
            <p>Subscribe below to get my weekly newsletter, Jim's Notebook, and read articles on building an effective and meaningful creative practice, strengthening your personal universe, and using open artifacts to give your ideas a life of their own.</p>
            <p>Hire me for one-on-one coaching or hire me to examine how open artifacts can expand the reach and effectiveness of your nonprofit.</p>
        </div>
    </div>
</div>
