<div id="hello" class="container medium">
    <div class="row">
        <div class="col-5">
            <img src="{{asset 'images/home-hero-4.jpg'}}" />
        </div>
        <div class="col-7">
            <h1>Hello, I'm Jim Applegate</h1>
            <p>I'm exploring how people like us can <b>build a better world</b> using the skills, tools and techniques of cultural activism.</p>
            <hr>
            <p>I believe that we are all world creators and that we all have something important to contribute to creating a better world. I also believe that creating a better world is critical for our survival.</p>
            <p>Subscribe below to get my weekly newsletter, Jim's Notebook, and read articles on building an effective and meaningful creative practice, strengthening your personal universe, and using open artifacts to give your ideas a life of their own.</p>
            <p>Let me know if you are interested in these ideas by subscribing or <a href="/contact">sending me an email</a>. I'd love to hear from you.</p>

<form class="subscription-form" data-members-form="signup">
  <input data-members-name type="text" placeholder="Please introduce yourself" required/>
  <input data-members-email type="email" placeholder="How can we reach you?" required/>
  <button class="btn" type="submit">Subscribe</button>
  <div class="success-message">Great! Check your inbox and click the link.</div>
  <div class="error-message">Sorry, something went wrong. Please try again.</div>
</form>

<p class="small-text">Already subscribed? <button class="gh-portal-btn gh-portal-btn-link"><span>Sign in</span></button> to manage your preferences or to become a paid supporter.</p>

        </div>
    </div>
</div>
